* {box-sizing:border-box}


/*Flex Container Parent*/

.flex-container {
  display: flex;
  background-color: Blue;
  justify-content: space-around;
  flex-direction: row;
  flex: initial;
}

.flex-container > div {
  background-color: #f1f1f1;
  margin: 10px;
  padding: 20px;
  position: relative;

}


/*make images consistent h & w */

.image-container {
  width: auto;
  height: 45%;
}

img {
  max-height: 100%;
  max-width: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}


.information-container {
  width: 120px;
  height: 50px;
  background-color: Blue;
  text-align: center;
}

.item-card {
  width: auto;
  min-height: 100px;
  max-height: 500px;
  float: left;

}
.card-footer{
  position: absolute;
  bottom: 0;
  align: center;
}



/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}